<ion-view ng-style="returnStyleForBackgroundImage()" cache-view="false" view-title="Dark Knight Dictionary">
  <ion-content>
  <ion-spinner ng-show="showSpinner" id="spinnerId" icon="ripple"></ion-spinner>
<div class="list">
  <div ng-style="styleForItemDivider()" class="item item-divider">
    Your recent searches:
  </div>

  <a ng-style="styleForSubItem()" ng-repeat="x in recentSearchesFromDbToBind" class="item" ng-click="searchFromHistory(x)" href="#">
    {{x}}
  </a> 

</div>

  </ion-content>
<div ng-style="styleForItemDivider()" class="bar bar-footer bar-balanced">
  <div  class="title">Current Theme: {{themeVar}}</div>
</div>
</ion-view>
